*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#btn-mas{
    display: none;
}
.boton-formularios{
    position: fixed!important;
    z-index: 10!important;
    bottom: 20px!important;
    right: 20px!important;
}

.redes a, .btn-mas label{
    display: block!important;
    text-decoration: none!important;
    background: #38b37f!important;
    color: #fff!important;
    width: 55px!important;
    height: 55px!important;
    line-height: 55px!important;
    text-align: center!important;
    border-radius: 50%!important;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4)!important;
    transition: all 500ms ease!important;

}
.redes a:hover{
    background: #A06CC1!important;
    color: #fff!important;
}
.redes a{
    margin-bottom: -15px!important;
    opacity: 0!important;
    visibility: hidden!important;

}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px!important;
    opacity: 1!important;
    visibility: visible!important;
}
.btn-mas label{
    cursor: pointer!important;
    background: #A06CC1!important;
    font-size: 25px!important;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(135deg)!important;
    font-size: 25px!important;
    background: #cc2b2b!important;
}
.sidebar_nc {
    width: 415px;
    background-color: white;
    position: fixed;
    top: 0px;
    right: -415px;
    height: 100vh;
    z-index: 8!important;
    transition: left 0.5s ease;
    padding: 10px 15px;
}
.visible_sidebar{
    right: 0px;
    transition: left 0.7s ease;
}

.redes {
    position: relative;
    left: 10px;
}


.accordion > .card > .card-header> {
    border-radius: 5 !important;
    margin-bottom: 0px !important;
    border-color: transparent;
}
.card .card-header {
    border-bottom: 1px solid;
    position: relative;
    border-color: #ced4da;
}

.bg-card-collapse{
    background: #1cbebe;
   /* background: rgb(158,238,238);*/
   /* background: -moz-linear-gradient(339deg, rgba(158,238,238,1) 0%, rgba(28,190,190,1) 100%);*/
   /* background: -webkit-linear-gradient(339deg, rgba(158,238,238,1) 0%, rgba(28,190,190,1) 100%);*/
   /* background: linear-gradient(339deg, rgba(158,238,238,1) 0%, rgba(28,190,190,1) 100%);*/
}

.bg-card-emergencia {
    background: #f35555;
    /*background: rgb(242,82,82);*/
    /*background: -moz-linear-gradient(148deg, rgba(242,82,82,1) 0%, rgba(255,126,126,1) 98%);*/
    /*background: -webkit-linear-gradient(148deg, rgba(242,82,82,1) 0%, rgba(255,126,126,1) 98%);*/
    /*background: linear-gradient(148deg, rgba(242,82,82,1) 0%, rgba(255,126,126,1) 98%);*/
}
.accordion{
    border-radius: 5!important;
}
#link {
    text-decoration: none;
    color: #fff;
}
.icon-posicion{
    position: right;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}


/**ICONOS PARA BOTON DE MODALS **/

   /**PACIENTE*/
.icono-pcte {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-pcte::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/paciente.png');
  background-size: cover;
  background-repeat: no-repeat;
}

  /**SIGNOS VITALES*/
.icono-signosv {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-signosv::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 54%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/signovital.png');
  background-size: cover;
  background-repeat: no-repeat;
}



   /**OTORRINO*/
.icono-orl {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-orl::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/oido.png');
  background-size: cover;
  background-repeat: no-repeat;
}


   /**CARDIOLOGIA*/
.icono-cardio {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-cardio::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 48%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-image: url('../images/iconosidebar/cardiologia.png');
  background-size: cover;
  background-repeat: no-repeat;
}


   /**TAUMATOLOGIA*/
.icono-trauma {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-trauma::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 47%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-image: url('../images/iconosidebar/traumatologia.png');
  background-size: cover;
  background-repeat: no-repeat;
}


   /**GASTROENTEROLOGO*/
.icono-gastro {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-gastro::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 47%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-image: url('../images/iconosidebar/gastro.png');
  background-size: cover;
  background-repeat: no-repeat;
}

   /**DERMATOLOGIA*/
.icono-dermatologia {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-dermatologia::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  background-image: url('../images/iconosidebar/dermatologia.png');
  background-size: cover;
  background-repeat: no-repeat;
}


   /**MEDICINA GENERAL*/
.icono-medgeneral {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-medgeneral::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-image: url('../images/iconosidebar/medicinageneral.png');
  background-size: cover;
  background-repeat: no-repeat;
}


   /**UROLOGIA*/
.icono-urologia {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-urologia::before {
  content: "";
  position: absolute;
  left: 11px;
  top: 53%;
  transform: translateY(-50%);
  width: 33px;
  height: 33px;
  background-image: url('../images/iconosidebar/urologia.png');
  background-size: cover;
  background-repeat: no-repeat;
}

   /**CIRUGIAS*/
.icono-cirugia {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-cirugia::before {
  content: "";
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  background-image: url('../images/iconosidebar/cirugia.png');
  background-size: cover;
  background-repeat: no-repeat;
}


   /**PEDIATRIA*/
.icono-pediatria {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-pediatria::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background-image: url('../images/iconosidebar/pediatria.png');
  background-size: cover;
  background-repeat: no-repeat;
}

   /**GINECOLOGIA Y OBSTETRICIA*/
.icono-gineobst {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-gineobst::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/gineobst.png');
  background-size: cover;
  background-repeat: no-repeat;
}


  /**OFTALMOLOGIA*/
.icono-oftalmologia {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-oftalmologia::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/oftalmologia.png');
  background-size: cover;
  background-repeat: no-repeat;
}

  /**FISIOTERAPIA*/
.icono-fisioterapia {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-fisioterapia::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/fisioterapia.png');
  background-size: cover;
  background-repeat: no-repeat;
}



    /**PSIQUIATRA*/
.icono-psiquiatria {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-psiquiatria::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/psiquiatria.png');
  background-size: cover;
  background-repeat: no-repeat;
}


    /**BRONCOPULPONAR*/
.icono-bronco {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-bronco::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 46%;
  transform: translateY(-50%);
  width: 35px;
  height: 30px;
  background-image: url('../images/iconosidebar/broncopulmonar.png');
  background-size: cover;
  background-repeat: no-repeat;
}

    /**COLOPROCTOLOGIA*/
.icono-coloproctologia {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-coloproctologia::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 46%;
  transform: translateY(-50%);
  width: 35px;
  height: 30px;
  background-image: url('../images/iconosidebar/coloproctologia.png');
  background-size: cover;
  background-repeat: no-repeat;
}





    /**PSICOLOGIA*/
.icono-psico {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-psico::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/psicologia.png');
  background-size: cover;
  background-repeat: no-repeat;
}

    /**NUTRICION*/
.icono-nutri {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-nutri::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/nutricion.png');
  background-size: cover;
  background-repeat: no-repeat;
}


    /**FONOAUDIOLOGIA*/
.icono-fonoaudiologia {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-fonoaudiologia::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/fono.png');
  background-size: cover;
  background-repeat: no-repeat;
}

  /**TERAPIA OCUPACIONAL*/
.icono-to {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-to::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/to.png');
  background-size: cover;
  background-repeat: no-repeat;
}


  /**KINESIOLOGIA*/
.icono-kine {
  position: relative;
  padding-left: 40px; /* espacio para el ícono */
  cursor: pointer;
}

.icono-kine::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../images/iconosidebar/kine.png');
  background-size: cover;
  background-repeat: no-repeat;
}












