body {
    background: #1a49a3!important;
}

.bg-c-info {
	background: #31BEBE;
background: -webkit-linear-gradient(75deg, rgba(49, 190, 190, 1) 0%, rgba(41, 159, 180, 1) 100%, rgba(26, 154, 163, 1) 71%);
background: -moz-linear-gradient(75deg, rgba(49, 190, 190, 1) 0%, rgba(41, 159, 180, 1) 100%, rgba(26, 154, 163, 1) 71%);
background: linear-gradient(75deg, rgba(49, 190, 190, 1) 0%, rgba(41, 159, 180, 1) 100%, rgba(26, 154, 163, 1) 71%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#31BEBE", endColorstr="#1A9AA3", GradientType=0);;  
}

.btn.btn-icon {
    width: 33px;
    height: 33px;
    padding: 0;
    border-radius: 50%;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 992px) { 

.subir {
      
  transform: translate(0px);
  transition: 0.5s;
}

.subir:hover {
      
  transform: translateY(-10px);
  transition: 0.5s;
}

.opacidad {
    opacity:1;
    transition: 0.2s;
}

.opacidad:hover {
    opacity:0.7;
    transition: 0.2s;   
}

.opacidad_collapse {
    opacity:1;
    transition: 0.2s;

}

.opacidad_collapse:hover {
    opacity:0.8;
    transition: 0.2s;   
}


.bg-c-orange {
	background-color: #E27222;
}

.btn-horas-rojo {
    color: #fff;
    background-color: #dc3545;
    border-color: none;
    padding: 2px 3px 2px 3px;
    margin: 1px;
    font-size: 10px;
    cursor:pointer;
    transition: 0.5s;
}

.btn-horas-rojo:hover {
    color: #fff;
    background-color: #BC0214;
    border-color: none;
    padding: 2px 3px 2px 3px;
    cursor:pointer;
    transition: 0.5s;   
}

.btn-horas-verde {
    color: #fff;
    background-color: #72B02C;
    border-color: none;
    padding: 2px 3px 2px 3px;
    margin: 1px;
    font-size: 10px;
    cursor:pointer;
    transition: 0.5s;
}

.btn-horas-verde:hover {
    color: #fff;
    background-color: #4D8013;
    border-color: none;
    padding: 2px 3px 2px 3px;
    cursor:pointer;
    transition: 0.5s;
}

.card-derecho {
  flex-direction: row;
}

.card-derecho img {
  width: 30%;
}

}



