/* estilos de boton flotante agenda de examnes */

.bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
}

.bs-canvas-overlay.show {
    opacity: 0.85;
    z-index: 1100;
}

.bs-canvas {
    top: 0;
    width: 0;
    z-index: 1110;
    overflow-x: hidden;
    overflow-y: auto;
}

.bs-canvas-left {
    left: 0;
}

.bs-canvas-right {
    right: 0;
}

.bs-canvas-anim {
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
}

.btn-agenda {
    display: block;
    position: fixed;
    color: #fff;
    padding: 8px;
    text-align: center;
    right: 0;
    bottom: 55%;
    z-index: 2;
    cursor: pointer;
    background-color: #1cbebe;
    transition: 0.3s;
    font-size: 0.9em;
    line-height: 12px;
    border-radius: 10% 0 0 10%;
}

.btn-agenda:hover {
    color: #fff;
    padding-right: 20px;
    background-color: #03a6a6;
    transition: 0.3s;
}
