/* estilos de boton flotante agenda de examnes */

.bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
}

.bs-canvas-overlay.show {
    opacity: 0.85;
    z-index: 1100;
}

.bs-canvas {
    top: 0;
    width: 0;
    z-index: 1110;
    overflow-x: hidden;
    overflow-y: auto;
}

.bs-canvas-left {
    left: 0;
}

.bs-canvas-right {
    right: 0;
}

.bs-canvas-anim {
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
}

.caja-boton-flotante-tipo-agenda {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 171px;
    right: -71px;
    flex-wrap: nowrap;
}

.btn-tipo-agenda {
    z-index: 1000000000;
    cursor: pointer;
    transform: rotate(90deg);
    margin-bottom: 153px;
    width: 183px;
}

.btn-tipo-agenda:hover {
    color: #fff;
}
