.nav-secciones.active{
    color: #1a49a3;
    font-size: 0.67rem!important;
    background-color: #d0e0ff;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
    border: solid 1px #83a7e1!important;
    font-weight:600!important;
    transition: 0.3s!important;
}

.nav-secciones {
    color: #C7C8C9;
    border: solid 1px #dbdbdb!important;
    font-size: 0.67rem!important;
    background-color: #fff;
    padding: 3px 6px!important;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right:0.100rem!important;
    line-height: 1.5;
    font-weight:600!important;
    transition: 0.2s!important;
}

.nav-secciones:hover{
    color: #1a49a3;
    font-size: 0.67rem!important;
    background-color: #d0e0ff;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
    border: solid 1px #5f8dd7!important;
    font-weight:600!important;
    transition: 0.2s!important;

}

.nav-tabs-secciones {
    border-bottom: 0px solid #dee2e6!important;
    font-size: 0.67rem!important;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
}

.nav-tabs-secciones .nav-item-secciones {
    font-size: 0.67rem!important;
    margin-bottom: 0.5rem!important;
    margin-top: 0.5rem!important;
    margin-left: 0rem!important;
    margin-right: 0.100rem!important;
}

